.ads_header {
    padding: 25px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.header_title {
    display: inline-block;
    font-weight: 700;
    font-size: 24px;
}

.header_button {
    float: right;
    display: inline-block;
    font-size: 16px;
    font-weight: 600;
    color: black;
    padding: 15px 20px;
    transition: background-color .2s linear ;
}

.header_button:hover {
    background-color: aquamarine;
}

/* ADs */

.ads_content {}

.ads_box {
    display: inline-block;
}

.box_info {}

.box_name {}

.box_phone {}